h1{
    font-size: 60px;
    font-family: cursive;
    font-weight: bold;
    color: rgb(243, 224, 228);
}

img{
    width: 350px;
    border: dotted 8px;
    border-color: rgb(236, 248, 236);
}

body{
    background-color: #050000;
    margin : 0px;
}

h2{
font-size: 40px;
color: rgb(247, 239, 239);
font-family: sans-serif;
margin: 0px;
}

h3
{
font-size: 20px;
color: rgb(247, 239, 239);
font-family: sans-serif;
margin: 0px;
}

p
{
font-size: 15px;
color: rgb(247, 239, 239);
font-family: sans-serif;
margin: 0px;
}



.btn {
    background: #3DF6A3;
    background-image: -webkit-linear-gradient(top, #3DF6A3, #D0C31E);
    background-image: -moz-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: -ms-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: -o-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: linear-gradient(to bottom, #3DF6A3, #D0C31E);
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
color: #FFFFFF;
font-family: Verdana;
font-size: 15px;
font-weight: 100;
padding: 10px;
box-shadow: 1px 1px 20px 0px #000000;
-webkit-box-shadow: 1px 1px 20px 0px #000000;
-moz-box-shadow: 1px 1px 20px 0px #000000;
text-shadow: 1px 1px 20px #000000;
border: solid #337FED 1px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}

/*
#input-file {
    position: absolute;
    opacity: 0.4;
    cursor: pointer;
    border: 1px solid green;
}
.new{
    position: relative;
    top: 40px;
    background: green;
    padding: 5px 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
*/
.btn:hover {
    border: solid #89ED33 1px;
    background: #CAD01E;
    background-image: -webkit-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -moz-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -ms-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -o-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: linear-gradient(to bottom, #CAD01E, #F6EC3D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    }


.cont{
    background-color:  #050000;
    margin : 0px;
    padding:0px;
    height: 180px;
    padding-top: 80px;
    margin-bottom: 50px;
}

span{
    color: green;
}
